<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site.twitter %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{site.authorTwitter}}" />
        <meta name="twitter:image:src" content="{{ site.url }}/assets/images/avatar.png">
        {% if page.url %}
          <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        {% endif %}
        {% if page.title %}
            <meta name="twitter:title" content="{{ page.title }}" />
            <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
        {% else %}
            <meta name="twitter:title" content="{{ site.name }}" />
            <meta name="twitter:description" content="{{ site.description }}" />
        {% endif %}
    {% endif %}
    <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="My Blog" href="{{ site.baseurl }}rss.xml">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/highlight.css">
    {% if site.fontawesome %}
        <script src="https://use.fontawesome.com/04231d13af.js"></script>
    {% endif %}
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>
