<nav id="top_navigation">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <i class="fa fa-arrow-left"></i> Home</a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about"><i class="fa fa-cog"></i> About</a>
        {% endif %}
    {% endif %}
    <a class="cta" href="http://eepurl.com/ceoVoP"><i class="fa fa-envelope-o"></i> Subscribe</a>
</nav>

<style>
nav#top_navigation {
	padding: 20px 20px 0;

	/*max-width: 600px;*/
	/*width:100%;*/
	background: #fff;
	background: rgba(255,255,255,.90);
	margin: 0 auto;
	text-align: right;
	/*position: fixed;*/
	z-index: 100;
}

nav#top_navigation a {
	top: 8px;
	right: 6px;
	padding: 8px 12px;
	color: #0e0e0e;
	font-size: 13px;
	/*font-weight: bold;*/
	line-height: 1.35;
	border-radius: 3px;

}
nav#top_navigation a:hover{
	color: #5badf0
}
nav#top_navigation a.cta {
	color: #0e0e0e;;
	margin-left: 12px;
}
nav#top_navigation a.cta:hover{
	color: #5badf0
}
</style>
